//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        alt-tab {
            bindings = <&kp RA(TAB)>;
            key-positions = <18 34>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
        };
    };

    behaviors {
        ctrl_option_command: ctrl_option_command {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_OPTION_COMMAND";
            bindings = <&kp LA(LEFT_COMMAND)>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃   BSPC    ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
       &kp Q             &kp W           &kp E               &kp R               &kp T      &kp Y      &kp U                &kp I                &kp O            &kp P
       &mt LEFT_SHIFT A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_COMMAND F  &kp G      &kp H      &mt RIGHT_COMMAND J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_SHIFT SEMI
&none  &kp Z             &kp X           &kp C               &kp V               &kp B      &kp N      &kp M                &kp COMMA            &kp PERIOD       &kp SLASH             &ctrl_option_command
                                         &kp ESC             &lt 1 SPACE         &kp TAB    &lt 3 RET  &lt 2 BACKSPACE      &kp LEFT_SHIFT
            >;
        };

        NAV {
            bindings = <
       &none           &kp LG(X)             &kp LG(C)         &kp LG(V)         &none    &none           &kp PAGE_DOWN   &kp PAGE_UP       &none            &none
       &kp LEFT_SHIFT  &kp LEFT_ALT          &kp LEFT_CONTROL  &kp LEFT_COMMAND  &none    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW      &kp RIGHT_ARROW  &none
&none  &none           &kp LS(LG(NUMBER_4))  &kp LC(LA(C))     &kp LA(LC(X))     &none    &kp C_PREVIOUS  &kp C_VOL_DN    &kp C_VOLUME_UP   &kp C_NEXT       &none  &kp RC(RG(Q))
                                             &none             &none             &none    &none           &none           &kp C_PLAY_PAUSE
            >;
        };

        NUM {
            bindings = <
       &none  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none        &none  &none              &none              &none          &none
       &none  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none        &none  &kp RIGHT_COMMAND  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_SHIFT
&none  &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none        &none  &none              &none              &none          &none            &none
                            &kp PLUS      &kp N0        &kp MINUS    &none  &none              &none
            >;
        };

        SYM {
            bindings = <
       &none          &kp AMPERSAND  &kp ASTERISK  &kp DOUBLE_QUOTES  &kp GRAVE           &none  &kp LEFT_BRACE        &kp RIGHT_BRACE        &none  &none
       &kp BACKSLASH  &kp DOLLAR     &kp PERCENT   &kp CARET          &kp SINGLE_QUOTE    &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none
&none  &none          &kp EXCL       &kp AT_SIGN   &kp HASH           &kp PIPE            &none  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none  &none  &none
                                     &kp EQUAL     &none              &kp UNDERSCORE      &none  &none                 &none
            >;
        };

        layer_4 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
